main 
  transition: .8s ease opacity
  opacity: 0

  &.ready
    opacity: 1
    
    .arrows
      opacity: 1
      transform: translate3d(0, 0, 1px)

.description
  transition: 1s ease
  transition-property: opacity, visibility, transform
  opacity: 0
  visibility: hidden

$animationDuration: 750ms
$animationDelay: 200ms
$slidingDistance: 25%
  
figure.slide
  .description,
  h2 > div
    animation: ease both $animationDuration

  &.left h2 > div:nth-child(2)
    animation-duration: $animationDuration + $animationDelay

  &.right h2 > div:nth-child(1)
    animation-duration: $animationDuration + $animationDelay

  &.project .screen,
  .screen > h1,
  .screen > h2 
    visibility: hidden
  
  &.in
    .description,
    .screen
      animation-name: fadeIn
      animation-timing-function: easeIn

    .screen > h1,
    .screen > h2 
      visibility: visible

    &.left h2 > div
      animation-name: fadeIn, slideInLeft

    &.right h2 > div
      animation-name: fadeIn, slideInRight

  &.out
    .description,
    .screen
      animation-name: fadeOut
      animation-timing-function: easeOut

    &.left h2 > div
      animation-name: fadeOut, slideOutLeft

    &.right h2 > div
      animation-name: fadeOut, slideOutRight

@keyframes fadeIn
  0% 
    visibility: hidden
    opacity: 0
  100%
    visibility: visible
    opacity: 1

@keyframes fadeOut
  0% 
    visibility: visible
    opacity: 1
  100%
    visibility: hidden
    opacity: 0

// moving left
@keyframes slideInLeft
  0% 
    transform: translate3d($slidingDistance, 0, 1px)
  100%
    transform: translate3d(0, 0, 1px)

@keyframes slideOutLeft
  0% 
    transform: translate3d(0, 0, 1px)
  100%
    transform: translate3d(-$slidingDistance, 0, 1px)

// moving right
@keyframes slideInRight
  0% 
    transform: translate3d(-$slidingDistance, 0, 1px)
  100%
    transform: translate3d(0, 0, 1px)

@keyframes slideOutRight
  0% 
    transform: translate3d(0, 0, 1px)
  100%
    transform: translate3d($slidingDistance, 0, 1px)

