.description
  position: absolute
  top: 100%
  width: 25%
  left: 0
  padding: 2vh 0

  transition: 1s ease
  transition-property: opacity, visibility, transform
  opacity: 0
  visibility: hidden

  h5
    margin: 0
    font-size: 1.6rem

  p
    margin: 0
    font-size: 1.2rem
    line-height: 1.3

  a
    text-decoration: none
    color: currentColor

  &:nth-of-type(2)
    left: 27%

  @media only screen and (max-width: 1024px)
    width: 100%

    p 
      font-size: 1.1rem

    &:nth-of-type(2)
      top: 100%
      margin-top: 4.4em
      left: 0