@font-face
  font-family: "Saiti-Black"
  src: url("fonts/Saiti-Black.eot")
  src: url("fonts/Saiti-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Saiti-Black.woff2") format("woff2"), url("fonts/Saiti-Black.woff") format("woff"), url("fonts/Saiti-Black.ttf") format("truetype")
  font-style: normal
  font-weight: normal

// FiraGo
@font-face
  font-family: "FiraGo"
  src: url("fonts/FiraGo/FiraGo-Regular.eot")
  src: local('FiraGo'), url("fonts/FiraGo/FiraGo-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/FiraGo/FiraGo-Regular.woff2") format("woff2"), url("fonts/FiraGo/FiraGo-Regular.woff") format("woff")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "FiraGo"
  src: url("fonts/FiraGo/FiraGo-SemiBold.eot")
  src: local('FiraGo'), url("fonts/FiraGo/FiraGo-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/FiraGo/FiraGo-SemiBold.woff2") format("woff2"), url("fonts/FiraGo/FiraGo-SemiBold.woff") format("woff")
  font-style: normal
  font-weight: 600

@font-face
  font-family: "FiraGo"
  src: url("fonts/FiraGo/FiraGo-Bold.eot")
  src: local('FiraGo'), url("fonts/FiraGo/FiraGo-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FiraGo/FiraGo-Bold.woff2") format("woff2"), url("fonts/FiraGo/FiraGo-Bold.woff") format("woff")
  font-style: normal
  font-weight: 700