@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

html
  font-size: 10px
  padding: 0
  margin: 0
  font-family: 'Source Sans Pro', sans-serif

html, body
  position: relative
  height: 100%

body
  margin: 0
  padding: 10vh 10vw
  box-sizing: border-box
  font-size: 1.4rem

main 
  position: relative
  height: 100%

figure 
  border: 2px solid black
  margin: 0
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  opacity: 0
  visibility: hidden

  &.active 
    opacity: 1
    visibility: visible

  div 
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-size: cover

    img
      opacity: 0

figcaption
  position: absolute
  top: 100%
  width: 30%
  left: 0
  padding: 2vh 0

  h5
    margin: 0
    font-size: 1.6rem

  p
    margin: 0
    font-size: 1.3rem

  &:nth-child(2)
    left: 30%