@import 'fonts'
@import 'slide'
@import 'description'
@import 'navigation'
@import 'animations'

html
  font-size: 10px
  padding: 10vmin 10vmin
  margin: 0
  background: white
  font-family: 'Noto Sans', sans-serif
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  position: relative
  height: 100%
  overflow: hidden

body
  margin: 0
  font-size: 1.4rem
  position: relative
  height: calc(100% - 7.5vmin)

  @media only screen and (min-width: 680px) and (max-height: 680px)
    height: calc(100% - 10vh)

  @media only screen and (min-width: 680px) and (max-height: 480px)
    height: calc(100% - 15vh)

  @media only screen and (min-width: 680px) and (max-height: 360px)
    height: calc(100% - 20vh)

  @media only screen and (max-width: 680px)
    height: calc(100% - 15vh)

  @media only screen and (max-width: 680px) and (max-height: 680px)
    height: calc(100% - 20vh)

  @media only screen and (max-width: 680px) and (max-height: 480px)
    height: calc(100% - 27.5vh)

  @media only screen and (max-width: 680px) and (max-height: 360px)
    height: calc(100% - 35vh)

  @media only screen and (max-width: 680px) and (max-height: 360px), (max-width: 320px), (max-height: 320px)
    height: calc(100% - 17.5vh)

main.slider
  position: relative
  height: 100%
  paddion: 2px
  background: white
  border: 2px solid black