@import 'fonts'
@import 'slide'
@import 'description'
@import 'navigation'
@import 'animations'
@import 'lang'

html
  font-size: 10px
  padding: 6vmax 6vmax
  margin: 0
  background: white
  font-family: 'FiraGo', sans-serif
  direction: ltr
  unicode-bidi: isolate
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  position: relative
  height: 100%
  overflow: hidden

  @media print
    -webkit-print-color-adjust: exact
    overflow: auto

  @media (min-aspect-ratio: 3/1), (max-aspect-ratio: 1/3)
    padding: 10vmin 10vmin

body
  margin: 0
  font-size: 1.4rem
  position: relative
  height: calc(100% - 2vh - 4rem)

  @media only screen and (min-width: 321px) and (max-width: 680px) and (min-height: 421px)
    height: calc(100% - 5vh - 10rem)

main.slider
  position: relative
  height: 100%
  paddion: 2px
  background: white

  @media only screen
    border: 2px solid black


.kokofont
  font-family: 'Saiti-Black'
  font-style: normal
  line-height: 1em
  display: inline-block
  vertical-align: top

