.menu,
.arrows 
  position: absolute
  top: 100%
  right: 0
  padding: 2vh 0

  &.arrows
    transform: translate3d(0, 20%, 1px)

  &.menu > a
    transform: translate3d(0, 50%, 1px)

.menu
  right: 10vh

  a
    display: inline-block
    cursor: pointer
    padding: .25em 1vw
    margin: .25em 1vh
    text-transform: uppercase

.arrows
  svg
    width: 32px
    margin-left: .35em
    cursor: pointer

    &:hover
      color: lighten(black, 10%)