---
layout: post
---
{% if page.category %}
  <figure class="project slide">
{% else %}
  <figure class="slide">
{% endif %}

  <div class="overflow">
    {% if page.image %}
      <div class="screen" style="background-image: url({{ page.image }})"></div>
    {% else %}
      <div class="screen">
        {% if page.icon %}
          <h1>{{ page.icon }}</h1>
        {% else %}
          <h1>{{ page.date | date: "%d" }}</h1>
        {% endif %}

        <h2>
          <div class="headline">{{ page.headline }}</div>
          <div class="headline">{{ page.headline2 }}</div>
        </h2>
      </div>
    {% endif %}
  </div>

  <figcaption class="description">
    <h5>{{ page.title1 }}</h5>
    <p>{{ page.description1 }}</p>
  </figcaption>
  <figcaption class="description">
    <h5>{{ page.title2 }}</h5>
    <p>{{ page.description2 }}</p>
  </figcaption>

  {{page}}
</figure>