---
layout: post
---

{% if page.category %}
  <figure class="project slide">
{% else %}
  <figure class="slide">
{% endif %}

  <div class="overflow">
    {% if page.image %}
      {% assign pageId = page.id | replace: "/", "" %}

      <style>
        #{{ pageId }} {
          background-image: url({{ page.image }})
        }
        @media (max-aspect-ratio: 1/1) {
          #{{ pageId }} {
            background-image: url({{ page.mobile }}), url({{ page.image }})
          }
        }
      </style>

      <div class="screen" id="{{ pageId }}"></div>
    {% else %}
      <div class="screen">
        {% if page.icon %}
          <h1>{{ page.icon }}</h1>
        {% else %}
          <h1>{{ page.date | date: "%d" }}</h1>
        {% endif %}

        <h2>
          <div class="headline">
            <span data-lang="en">{{ page.headline }}</span>
            <span data-lang="ge">{{ page.headline_ge }}</span>
          </div>
          <div class="headline">
            <span data-lang="en">{{ page.headline2 }}</span>
            <span data-lang="ge">{{ page.headline2_ge }}</span>
          </div>
        </h2>
      </div>
    {% endif %}
  </div>

  <figcaption class="description">
    <h5>
      <span data-lang="en">{{ page.title1 }}</span>
      <span data-lang="ge">{{ page.title1_ge }}</span>
    </h5>
    <p>
      <span data-lang="en">{{ page.description1 }}</span>
      <span data-lang="ge">{{ page.description1_ge }}</span>
    </p>
  </figcaption>
  <figcaption class="description">
    <h5>
      <span data-lang="en">{{ page.title2 }}</span>
      <span data-lang="ge">{{ page.title2_ge }}</span>
    </h5>
    <p>
      <span data-lang="en">{{ page.description2 }}</span>
      <span data-lang="ge">{{ page.description2_ge }}</span>
    </p>
  </figcaption>

  {{page}}
</figure>