---
layout: post
---
{% if page.category %}
  <figure class="project">
{% else %}
  <figure>
{% endif %}
  
  {% if page.image %}
    <div class="screen" style="background-image: url({{ page.image }})" />
  {% else %}
    <div class="screen">
      <h1>{{ page.date | date: "%d" }}</h1>
      <h2>
        <div>{{ page.headline }}</div>
        <div>{{ page.headline2 }}</div>
      </h2>
    </div>
  {% endif %}

  <figcaption class="description">
    <h5>{{ page.title }}</h5>
    <p>{{ page.description }}</p>
  </figcaption>
  <figcaption class="description">
    <h5>{{ page.title2 }}</h5>
    <p>{{ page.description2 }}</p>
  </figcaption>
</figure>